<!-- authentication/templates/authentication/coding_syntax_identification.html -->
{% extends 'base.html' %}

{% block title %}Coding Syntax Identification{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Coding Syntax Identification</h3>
                </div>
                <div class="card-body">
                    <p>Identify the programming language of the following code snippet:</p>
                    <pre>{{ code_snippet }}</pre>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}