{% extends 'base.html' %}

{% block title %}Quiz Review{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Review Your Answers</h3>
                </div>
                <div class="card-body">
                    {% for data in review_data %}
                        <div class="mb-4">
                            <h4>Question:</h4>
                            <p>{{ data.question }}</p>
                            {% if data.user_answer == data.correct_answer %}
                                <div class="alert alert-success" role="alert">
                                    <strong>Your Answer:</strong> {{ data.user_answer }}
                                    <span class="badge badge-success">&check;</span>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    <strong>Your Answer:</strong> {{ data.user_answer }}
                                    <span class="badge badge-danger">&cross;</span>
                                    <br>
                                    <strong>Correct Answer:</strong> <span style="color: green;">{{ data.correct_answer }}</span>
                                    <span class="badge badge-success">&check;</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <a href="{% url 'timed_quiz' %}" class="btn btn-primary mt-3">Retake Quiz</a>
                    <a href="{% url 'assessments' %}" class="btn btn-primary mt-3">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
