{% extends 'base.html' %}

{% block title %}Quiz Review{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Review Your Answers</h3>
                </div>
                <div class="card-body">
                    <h4>Answers Review</h4>
                    <ul>
                        {% for data in review_data %}
                            <li>
                                <strong>Question:</strong> {{ data.question }}<br>
                                <strong>Your Answer:</strong> {{ data.user_answer }}<br>
                                <strong>Correct Answer:</strong> {{ data.correct_answer }}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'timed_quiz' %}" class="btn btn-primary mt-3">Retake Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
